{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('andres/hero-banner') }}
{%
  set classes = [
    'hero-banner',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% set tag = '' %}
{% set tag_style = '' %}
{% set body = '' %}
{% set header = '' %}
{% set main_cta = '' %}
{% set main_cta_label = '' %}
{% set secondary_cta = '' %}
{% set secondary_cta_label = '' %}
{% set image_background_src = '' %}
{% set type = '' %}
{% set gradient_from = '' %}
{% set gradient_to = '' %}
{% set gradient_type = '' %}
{% set background_color = '' %}
{% set background_img_src = '' %}

{% if paragraph.field_tag.value %}
  {% set tag = paragraph.field_tag.value %}
{% endif %}

{% if paragraph.field_tag_style.value %}
  {% set tag_style = paragraph.field_tag_style.value %}
{% endif %}

{% if paragraph.field_body.value %}
  {% set body = paragraph.field_body.value %}
{% endif %}

{% if paragraph.field_rich_header.value %}
  {% set header = paragraph.field_rich_header.value %}
{% endif %}

{% if paragraph.field_main_cta.value %}
  {% set main_cta_label = paragraph.field_main_cta[0].title %}
  {% set main_cta = paragraph.field_main_cta[0].url|render %}
{% endif %}

{% if paragraph.field_secondary_cta.value %}
  {% set secondary_cta_label = paragraph.field_secondary_cta[0].title %}
  {% set secondary_cta = paragraph.field_secondary_cta[0].url|render %}
{% endif %}

{% if paragraph.field_image.entity.field_media_image %}
  {% set image_src = file_url(paragraph.field_image.entity.field_media_image.entity.uri.value) %}
{% endif %}

{% if paragraph.field_background_image.entity.field_media_image %}
  {% set image_background_src = file_url(paragraph.field_background_image.entity.field_media_image.entity.uri.value) %}
{% endif %}

{% if paragraph.field_backgound_type.value %}
  {% set type = paragraph.field_backgound_type.value %}
{% endif %}

{% if paragraph.field_gradient_color_background.value %}
  {% set gradient_from = paragraph.field_gradient_color_background.value  %}
{% endif %}

{% if paragraph.field_gradient_color_back_to.value %}
  {% set gradient_to = paragraph.field_gradient_color_back_to.value  %}
{% endif %}

{% if paragraph.field_full_background_color.value %}
  {% set background_color = paragraph.field_full_background_color.value  %}
{% endif %}

{% if type == "gradient_color" %}
  <style>
    .hero {
      background-image: radial-gradient(circle at 40% 50%, {{ gradient_from }} 0%, {{ gradient_to }} 40%);
    }
  </style>
{% elseif type == "full_color" %}
    <style>
    .hero {
      background-color: {{ background_color }};
    }
  </style>
{% elseif type == "image" %}
  <style>
    .hero {
      background-image: url({{ image_background_src }});
      background-size: cover;
      background-position: center;
    }
  </style>
{% endif %}

{% block paragraph %}
	<div{{attributes.addClass(classes)}}>
		{% block content %}
				<section class="hero">
					<div class="hero-container">
						<div class="hero-content">
              {% if tag %}         
                <div class="tag tag-{{ tag_style }}">
                  {{ tag }}
                </div>
              {% endif %}
							<h1>
								{{ header|raw }}
							</h1>
							<p class="description">
								{{ body|raw }}
							</p>
							<div class="cta-group">
                {% if paragraph.field_main_cta.value %}
                  <a href="{{ main_cta }}" class="button button-small button-primary-blue ">{{ main_cta_label }}</a>
                {% endif %}
                {% if paragraph.field_secondary_cta.value %}
                  <a href="{{ secondary_cta }}" class="button button-small button-outline-blue ">{{ secondary_cta_label }}</a>
                {% endif %}
							</div>
						</div>
						<div class="hero-visual">
							{% if image_src %}
								<img src="{{ image_src }}" alt="Hero" />
							{% endif %}
						</div>
					</div>
				</section>
			{% endblock %}
		</div>
	{% endblock paragraph %}
